
@{
    ViewBag.Title = "Index";
}


<div style="width: 900px; background-color: #e84e36";>
    <marquee direction="left"><strong> Welcome To Carpe Librum</strong></marquee>
</div>


<img src="~/Images/banner.png" width="900" height="400"/>


<div style="width: 900px; background-color: #e84e36; ">
<marquee direction="right"><strong>Welcome to Carpe Librum</strong></marquee>
</div>